---

# Copyright (C) 2019 Intel Corporation
# SPDX-License-Identifier: BSD-3-Clause

kernel_arguments: auto=true url=http://10.0.1.210:8080/preseed.cfg hostname=mca30 domain=wachterlab.com interface=enp2s0 choose_bootdev=/dev/mmcblk0
